
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_fa-IR.cshtml";
}
<style>
    [v-cloak] {
        display: none;
    }
    .green{
    background-color:#4cd035;
    color:white
}
</style>
<div id="app" class="container" v-cloak>

    <hj-modal v-bind:message="'مشکلی در سرور رخ داده است'" v-bind:idmodal="'errormodal'"></hj-modal>
    <hj-modal v-bind:message="'شما هیچ کالاانتخاب نکرده اید'" v-bind:idmodal="'messagemodal'"></hj-modal>

    <div id="loadingModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:rgb(76, 208, 53);color:white">
                    <h5 class="modal-title">
                        در حال بررسی
                    </h5>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        لطفا چند لحظه منتظر بمانید...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px;margin-top:10px">
        <div class="col-sm-2">
            <label>
                نام مشتری
            </label>
        </div>
        <div class="col-sm-3">
            <input class="form-control text-box single-line" type="text" name="username" id="username" v-model="customer"  />
        </div>


    </div>
    <div class="row">
        
        <div class="col-12 table-responsive">
            
            <table class="table table-bordered table-striped table-hover table-sm">
                <tr>
                    <td class="green" colspan="7" style="text-align:center;">ثبت اقلام فاکتور</td>
                </tr>
                <tr>
                    <th>نام</th>
                    <th>قیمت</th>
                    <th>وزن</th>
                    <th>واحد</th>
                    <th>عملیات</th>
                    <th>تعداد</th>
                    <th>جمع</th>
                </tr>
                <tr v-for="item in listSelectionProduct" v-bind:key="item.id">
                    <td>{{item.Name}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Weight}}</td>
                    <td>{{item.UnitProduct}}</td>
                    <td>
                        <button type="button" v-on:click="plus(item)" class="btn btn-primary" style="margin-bottom:3px;" title="اضافه کردن">+</button>
                        &nbsp;
                        <button type="button" v-on:click="minus(item)" class="btn btn-danger" style="margin-bottom:3px;" title="کم کردن">-</button>
                        &nbsp;
                        <button type="button"  v-on:click="remove(item)" class="btn btn-danger" style="margin-bottom:3px;font-size:12px;height:38px;text-align:left" title="حذف">حذف</button>
                    </td>
                    <td>{{item.count}}</td>
                    <td>{{ getSubTotal(item) }}</td>
             

                    </tr>
                <tr>

                    <td>
                        <select v-model="selectedProduct" v-on:keypress="addProduct" class="browser-default custom-select ">
                            <option v-bind:value="null">انتخاب کالا</option>
                            <option v-for="item in listProduct" v-bind:value="item">{{ item.Name}}</option>
                        </select>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">جمع کل</td>
                    <td>{{ getTotal()|formatNumber}}</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary  btn-block" id="checkfinal" v-on:click="redirectToAction()">ثبت فاکتور </button>

        </div>
    </div>
</div>
<script src="~/js/hjFunction.js"></script>
<script src="~/js/hjcomponent.js"></script>
<script src="~/js/registerfactor/register.js"></script>
